@import "pattern-library-hjs-github.scss";
@import "pattern-library.scss";
/*@import "../../../node_modules/cbp-theme/dist/scss/vendor/_material_cards.scss";*/


.mdl-card__actions-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;
  .btn {
    background-color: transparent;
    border: 2px solid $gray;
    border-radius: 3px;
    color: $gray;
    font-weight: 500;

    + .btn {
      margin-left: 5px;
    }
    &:focus,
    &:hover,
    &:active {
      border: 2px solid $brand-info;
      background-color: $brand-info;
      color: $white;
    }
  }
}

.mdl-card__actions-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;

  .btn {
    border: none;
    color: $gray;
    font-size: inherit;
    background-color: transparent;

    + .btn {
      margin-left: 5px;
    }

    &:focus,
    &:hover,
    &:active {
      color: $brand-info;
      background-color: transparent;
      .text-muted {
        color: $brand-info;
      }
    }
  }
  a {
    color: $gray;

    &:focus,
    &:hover,
    &:active {
      color: $brand-info;
      text-decoration: none;
      border: none;
      .text-muted {
        color: $brand-info;
      }
    }
  }
}

.mdl-card--expand {
  flex-grow: 1;
}


.mdl-card__menu {
  position: absolute;
  right: 16px;
  top: 16px;
}











/* CBP Extensions */

.mdl-card {
  @extend .mdl-card;
  background-color:  $gray-lightest;
  box-shadow: none;
  border-radius: 5px;
  border: 3px solid $gray-lighter;

  &.mdl-card-border {
    border: 3px solid $gray-lighter;
  }

  &.mdl-card-expand {
    &:focus,
    &:hover,
    &:active {
      box-shadow: 0 0 4px 1px lighten(#000, 25%);
      border: 3px solid $brand-info;
      &.mdl-card-border {
        border: 3px solid $brand-info;
      }
    }
  }
  &:focus,
  &:hover,
  &:active {
    box-shadow: 0 0 4px 1px lighten(#000, 25%);
    border: 3px solid $brand-info;
    .mdl-card--border {
      border-top: 3px solid $brand-info;
    }
  }
  &:focus-within {
    box-shadow: 0 0 4px 1px lighten(#000, 25%);
    border: 3px solid $brand-info;
    .mdl-card--border {
      border-top: 3px solid $brand-info;
    }
  }
}

.mdl-card__actions {
  @extend .mdl-card__actions;
  &.mdl-card--border {
    border-top: 3px solid $gray-lighter;
  }
  &:focus,
  &:hover,
  &:active {
    background-color: $white;
  }
  &:focus-within {
   background-color: $white; 
  }
}

/* Height of cards are set by content */
.mdl-card-container {
  >div[class*='col-'] {
    margin-bottom: 25px;
  }
}

/* Equal Heights cards */
.mdl-card-deck {
  display: flex;
  flex-wrap: wrap;

  >div[class*='col-'] {
    margin-bottom: 25px;
  }

  .mdl-card__actions {
    height: 50px;
    position: absolute;
    bottom: 0;
  }

  .mdl-card__supporting-text {
    &.with-footer {
      padding-bottom: 56px;
    }
  }
}

/* Cards have equal Heights but expands individually */
.mdl-card-single-expansion {
  display: flex;
  flex-wrap: wrap;

  >div[class*='col-'] {
    margin-bottom: 25px;
  }

  .mdl-card {
    @extend .mdl-card;
   /* background-color:  $gray-lightest;
    box-shadow: none;
    border-radius: 5px;
    border: 3px solid $gray-lightest;*/
    height: 225px;
    justify-content: space-between;

    /*&.mdl-card-border {
      border: 3px solid $gray-lighter;
    }*/
    /*&:focus,
    &:hover,
    &:focus-within,
    &:active {
      box-shadow: 0 0 4px 1px lighten(#000, 25%);
      border: 3px solid $brand-info;
      .mdl-card--border {
        border-top: 3px solid $brand-info;
      }
    }*/
  }
  .expanded-card {
  	height: auto;
  	.mdl-card__supporting-text {
  		height: auto;
  	}
    .expand-card {
      margin-bottom: 9px;
    }
  	.mdl-card__actions {
  		position: static;
  	}
    .list-inline {
      display: block;
    }
    .collapse-card {
      display: block;
      margin-bottom: 9px;
    }
    .expand-card {
      display: none;
    }
  }
  .mdl-card__actions {
    height: 56px;
    display: flex;
    justify-content: space-between;
  }
  .list-inline {
    display: none;
  }
  .collapse-card {
    display: none;
    padding-left: 16px;
    width: fit-content;
    &:hover,
    &:focus,
    &:active {
      color: $brand-info;
      outline: none;
    }
  }
  .expand-card {
    padding-left: 16px;
    width: fit-content;
  	&:hover,
    &:focus,
  	&:active {
  		color: $brand-info;
      outline: none;
  	}
  }
}
